.content_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  visibility: hidden;

}
.content_img{
    position: relative;
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 10px;
}


.content_img:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
}